{% load static from staticfiles %}

<p id="footer-text" class="text-muted">
  © PACTF 2016
  | <a target="_blank" href="https://pactf.statuspage.io/">System Status</a>
  | <a target="_blank" href="mailto:{{ contact_email }}">Contact Us</a>
  | Made with
  <span class="glyphicon glyphicon-heart"></span> at
  <a target="_blank" href="https://www.andover.edu/">Phillips Academy</a>
</p>

<div id="footer-sponsors" class="row">
  <a href="{% url 'ctflex:sponsors' %}">
    <img src="{% static 'pactf_web/img/sponsors/abbot.png' %}"/>
  </a>
  <a href="{% url 'ctflex:sponsors' %}">
    <img src="{% static 'pactf_web/img/sponsors/cylab.png' %}"/>
  </a>
  <a href="{% url 'ctflex:sponsors' %}">
    <img src="{% static 'pactf_web/img/sponsors/moc.png' %}"/>
  </a>
  <a href="{% url 'ctflex:sponsors' %}">
    <img src="{% static 'pactf_web/img/sponsors/macs.png' %}"/>
  </a>
  <a href="{% url 'ctflex:sponsors' %}">
    <img src="{% static 'pactf_web/img/sponsors/bu.png' %}"/>
  </a>
</div>
