{% extends 'ctflex/base.html' %}
{% load static from staticfiles %}
{% load formfield from ctflex %}

{% block title %}
  Login — {{ block.super }}
{% endblock %}

{% block content %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>You are authenticated as {{ request.user.username }}, but are not authorized to access this page. Would you like to login to a different account?</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% else %}
    <p>If you don't already have an account, <a href="{% url 'ctflex:register' %}">sign up</a>!</p>
  {% endif %}

  <p>Lost your password? <a href="{% url 'ctflex:password_reset' %}">Reset it.</a></p>

  <form method="post">
    {% csrf_token %}

    {% include 'ctflex/snippets/form_non_field_errors.html' %}

    {% formfield form.username %}{% endformfield %}
    {% formfield form.password %}{% endformfield %}

    <input type="hidden" name="next" value="{{ next }}"/>

    <input type="submit" value="Log in"/>

    <script type="text/javascript">document.getElementById("id_username").focus();</script>

  </form>



{% endblock %}