{% extends "ctflex/base/base.template.html" %}
{% load ctflex_forms %}

{% block title %}
  Password Change - {{ block.super }}
{% endblock %}

{% block header %}
  Password Change
{% endblock %}


{% block content %}
  {% with extra_label_class='col-sm-4' extra_input_class='col-sm-8' extra_help_class='col-sm-8 col-sm-offset-4' %}
    <form class="form-horizontal" method="post" role="form">
      {% csrf_token %}

      <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

      {% non_form_field_errors form %}

      {% formfield form.old_password %}{% endformfield %}
      <div class="clearfix hidden-xs"></div>

      {% formfield form.new_password1 %}{% endformfield %}
      <div class="clearfix hidden-xs"></div>

      {% formfield form.new_password2 %}{% endformfield %}
      <div class="clearfix hidden-xs"></div>


      <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Change my password"/>
      </div>

      <script type="text/javascript">document.getElementById("id_old_password").focus();</script>

    </form>
  {% endwith %}
{% endblock %}
