{% extends "ctflex/base.html" %}
{% load ctflex_forms %}

{% block title %}
  Password Reset - {{ block.super }}
{% endblock %}

{% block header %}
  Password Reset
{% endblock %}


{% block content %}
  {% with extra_label_class='col-sm-2 col-sm-offset-2' extra_input_class='col-sm-4' extra_help_class='col-sm-4 col-sm-offset-4' %}
    <form class="form-horizontal" method="post" role="form">
      {% csrf_token %}

      <p>Forgot your password? Enter your email address below, and we'll email you instructions for setting a new one.</p>

      {% non_form_field_errors form %}

      {% formfield form.email %}{% endformfield %}
      <div class="clearfix hidden-xs"></div>

      <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Reset my password"/>
      </div>

      <script type="text/javascript">document.getElementById("id_email").focus();</script>

    </form>
  {% endwith %}
{% endblock %}
