{% extends "ctflex/base.html" %}
{% load formfield from ctflex %}

{% block title %}
  Password Reset - {{ block.super }}
{% endblock %}

{% block header %}
  Password Reset
{% endblock %}


{% block content %}

  {% if validlink %}

    <form method="post">
      {% csrf_token %}

      <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

      {% include 'ctflex/snippets/form_non_field_errors.html' %}

      {% formfield form.new_password1 %}{% endformfield %}
      {% formfield form.new_password2 %}{% endformfield %}

      <input class="btn btn-primary" type="submit" value="Change my password"/>

      <script type="text/javascript">document.getElementById("id_email").focus();</script>

    </form>

  {% else %}
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
  {% endif %}

{% endblock %}
