{% extends "ctflex/base/titled.template.html" %}
{% load ctflex_forms %}

{% block title %}
  Password Reset - {{ block.super }}
{% endblock %}

{% block header %}
  Password Reset
{% endblock %}


{% block content %}

  {% if validlink %}

    {% with extra_group_class='col-sm-6' extra_label_class='col-sm-4' extra_input_class='col-sm-8' extra_help_class='col-sm-8 col-sm-offset-4' %}
      <form class="form-horizontal" method="post" role="form">
        {% csrf_token %}

        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

        {% non_form_field_errors form %}

        {% formfield form.new_password1 %}{% endformfield %}
        {% formfield form.new_password2 %}{% endformfield %}
        <div class="clearfix hidden-xs"></div>

        <div class="text-center">
          <input class="btn btn-primary" type="submit" value="Change my password"/>
        </div>

        <script type="text/javascript">document.getElementById("id_email").focus();</script>

      </form>
    {% endwith %}

  {% else %}
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
  {% endif %}

{% endblock %}
