{% extends "ctflex/base-headerless.html" %}
{% load formfield from ctflex %}

{% block title %}
  Password Change - {{ block.super }}
{% endblock %}

{% block header %}
  Password Change
{% endblock %}


{% block content %}
  <form method="post">
    {% csrf_token %}

    <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

    {% include 'ctflex/snippets/form_non_field_errors.html' %}

    {% formfield form.old_password %}{% endformfield %}
    {% formfield form.new_password1 %}{% endformfield %}
    {% formfield form.new_password2 %}{% endformfield %}

    <input class="btn btn-primary" type="submit" value="Change my password"/>

    <script type="text/javascript">document.getElementById("id_old_password").focus();</script>

  </form>
{% endblock %}
