{% extends 'ctflex/base/headered.template.html' %}
{% load static from staticfiles %}
{% load ctflex_forms %}

{% block title %}
  Register — {{ block.super }}
{% endblock %}

{% block header %}
  Register
{% endblock %}

{% block extra_css %}
  <link href="{% static 'ctflex/css/register.css' %}" rel="stylesheet"/>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'ctflex/js/register.js' %}" type="text/javascript"></script>

  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}


{% block content %}
  <p>
    If you already have a personal account, go <a href="{% url 'ctflex:login' %}">login</a>!
  </p>

  <p>Otherwise, sign up for a personal account, and either create a new team or join an existing one.</p>

  {% with extra_group_class='col-sm-6' extra_label_class='col-sm-4' extra_input_class='col-sm-8' extra_help_class='col-sm-8 col-sm-offset-4' %}
    <form method="post" role="form">
      {% csrf_token %}

      {% non_form_field_errors competitor_form user_form existing_team_form new_team_form %}

      <div id="competitor-container" class="form-horizontal">

        {% formfield competitor_form.first_name %}{% endformfield %}
        {% formfield competitor_form.last_name %}{% endformfield %}
        <div class="clearfix hidden-xs"></div>

        {% formfield user_form.username %}{% endformfield %}
        {% formfield user_form.password2 %}{% endformfield %}
        <div class="clearfix hidden-xs"></div>

        {% with extra_group_class='col-sm-12' extra_label_class='col-sm-2' extra_input_class='col-sm-10' extra_help_class='col-sm-10 col-sm-offset-2' %}
          {% formfield competitor_form.email %}{% endformfield %}
        {% endwith %}
        <div class="clearfix hidden-xs"></div>

      </div>

      <div id="team-buttons" class="text-center form-group">
        <div class="btn-group " role="group">
          <button id="new-team-btn" type="button" class="btn btn-default">Create a New Team</button>
          <button id="existing-team-btn" type="button" class="btn btn-default">Join an Existing Team</button>
          <div class="clearfix hidden-xs"></div>
        </div>
      </div>


      <div id="new-team-container" class="form-horizontal">
        <p>Here's how you would register your team of <strong>1 to {{ max_team_size }} competitors</strong>:</p>
        <ol>
          <li>One member of your team creates a new team, choosing a Team Name and Passphrase.</li>
          <li>The team creator shares the Team Name and Passphrase with other members of the team.</li>
          <li>All other team members register and choose “Join an Existing Team,” providing the Team Name and Passphrase.</li>
        </ol>
        <p>
          You can add new members to your team at any time, even after the competition starts.
        </p>

        <p id="helptext" class="text-muted italics">
          The preceding help text was adapted from <a href="https://picoctf.com" target="_blank">PicoCTF</a>.<br>
          If this registration form does not work for you, please email
          <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.
        </p>

        {% formfield new_team_form.name %}{% endformfield %}
        {% formfield new_team_form.passphrase %}{% endformfield %}
        <div class="clearfix hidden-xs"></div>

        {% formfield new_team_form.country %}{% endformfield %}
        {% formfield new_team_form.background %}{% endformfield %}
        <div class="clearfix hidden-xs"></div>

        {% with extra_group_class='col-sm-12' extra_label_class='col-sm-2' extra_input_class='col-sm-10' extra_help_class='col-sm-10 col-sm-offset-2' %}
          {% formfield new_team_form.school %}{% endformfield %}
          <div class="clearfix hidden-xs"></div>
        {% endwith %}

        <div id="eligible-container" class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <span id="eligible-glyph" class="glyphicon glyphicon-color"></span>
              <span id="eligible-message"></span>
            </div>
            <div class="panel-footer">

              <p class="text-muted">
                Teams are eligible (to win prizes) if all of their competitors are middle-schoolers or high-schoolers studying in the United States of America.
              </p>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>

      <p class="col-sm-8 col-sm-offset-2"><em>Remember: You are only allowed to have one account for PACTF 2017. To make changes, please email <a href="mailto:contact@pactf.com">contact@pactf.com</a>.</em></p>

      </div>

      <div id="existing-team-container" class="form-horizontal">

        {% formfield existing_team_form.name %}{% endformfield %}
        {% formfield existing_team_form.passphrase %}{% endformfield %}
        <div class="clearfix hidden-xs"></div>

      </div>

      <div id="common-team-container" class="form-horizontal text-center">

        {% with extra_group_class='captcha-container col-sm-12' extra_label_class='display-none' extra_input_class='col-sm-12' extra_help_class='col-sm-6 col-sm-push-3' %}
          {% formfield competitor_form.captcha %}{% endformfield %}
        {% endwith %}
        <div class="clearfix"></div>

        <input class="btn btn-primary" type="submit" value="Register"/>

      </div>

      {# To keep track of which sub-form is/should be open #}
      <input id="team-status" name="team-status" type="text" value="{{ team_status }}" hidden/>

      <script type="text/javascript">document.getElementById("id_competitor-first_name").focus();</script>

    </form>
  {% endwith %}

{% endblock %}
