# Local config
/django/pactf/envdir
/static/
/pactf_nginx.conf
/pactf_supervisor.conf
#/django/*/migrations/
/ctfproblems/_static
/django/ctflex/fixtures/dump.yaml
/logs/

# Python
*.pyc
__pycache__/
/.venv
