# Local config
/django/pactf/envdir
/static/
/logs/
/pactf_nginx.conf
/pactf_supervisor.conf
/django/*/migrations/
/ctfproblems/_static
/django/ctflex/fixtures/dump.yaml

# Python
*.pyc
__pycache__/
/.venv

# TODO(Cam, Tony): Remove from project .gitignore file
# Cam's things
/conv
# Tony's things
/.idea