{% extends 'ctflex/base.html' %}
{% load ctflex %}

{% block title %}
  Done - {{ block.super }}
{% endblock %}

{% block content %}
  <p>
    {# TODO(Yatharth): Give time of next Window using Window.current #}
    Your timer has ended! However, the window is ongoing, so you cannot see problems until this window ends at {{ window.end }}.
  </p>
  <p>
    You may browse other windows, wait for the next one to start, or look at funny memes.
  </p>
  <p>
    <img src="http://www.quickmeme.com/img/4d/4d0c6ca5e84ed24d6ce0888d0867b48fa3a5506abf3318371cbbb4e6b84d47eb.jpg"/>
  </p>
{% endblock %}