{% extends 'ctflex/base.html' %}
{% load static %}
{% load ctflex %}

{% block title %}
  Game — {{ block.super }}
{% endblock %}

{% block css %}
  <link href="{% static "ctflex/css/game.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div id="problems">
    {% for prob in prob_list %}
      <form action="{% url 'ctflex:submit_flag' prob_id=prob.id window_id=window.id %}" method="post">
        <div class="problem-header">
          <h3>{{ prob.name }} <span class="problem-points">{{ prob.points }}</span></h3>
        </div>

        <div class="problem-description">
          {{ prob.description_html|safe }}
        </div>

        <label for="flag-{{ prob.id }}">Flag: </label>
        <input id="flag-{{ prob.id }}" type="text" name="flag"/>
        {# Disable submit button and change text to indicate having solved the problem #}
        <input type="submit" value="Submit!" />
        {% csrf_token %}
      </form>
      <br/>
    {% endfor %}
  </div>
{% endblock %}
