{% extends 'ctflex/base.html' %}

{% block title %}
  Register — {{ block.super }}
{% endblock %}

{% block content %}

  {% if form.errors %}
    <p>We were unable to register your user or your team.</p>
  {% endif %}

  <p>If the team you name already exists, the "passphrase" should be given to
    you by the team owner. If you're creating a new team, just enter the
    passphrase you want your team to use!</p>
  <form action="{% url 'ctflex:register_user' %}", method="post">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.handle.label_tag }}</td>
        <td>{{ form.handle }}</td>
      </tr>
      <tr>
        <td>{{ form.pswd.label_tag }}</td>
        <td>{{ form.pswd }}</td>
      </tr>
      <tr>
        <td>{{ form.email.label_tag }}</td>
        <td>{{ form.email }}</td>
      </tr>
      <tr>
        <td>{{ form.team.label_tag }}</td>
        <td>{{ form.team }}</td>
      </tr>
      <tr>
        <td>{{ form.team_pass.label_tag }}</td>
        <td>{{ form.team_pass }}</td>
    </table>

    <input type="submit" value="Register!"/>
  </form>
{% endblock %}
