{% extends 'ctflex/base.html' %}
{% load static from staticfiles %}

{% block title %}
  Register — {{ block.super }}
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'ctflex/js/ajax_utils.js' %}"></script>
<script type="text/javascript" src="{% static 'ctflex/js/reg_ajax.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="errors">
    </div>

  <form action="{% url 'ctflex:register_user' %}", method="post", id="register-submit">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.handle.label_tag }}</td>
        <td>{{ form.handle }}</td>
      </tr>
      <tr>
        <td>{{ form.pswd.label_tag }}</td>
        <td>{{ form.pswd }}</td>
      </tr>
      <tr>
        <td>{{ form.email.label_tag }}</td>
        <td>{{ form.email }}</td>
      </tr>
      <tr>
        <td>{{ form.team.label_tag }}</td>
        <td>{{ form.team }}</td>
      </tr>
      <tr>
        <td>{{ form.team_pass.label_tag }}</td>
        <td>{{ form.team_pass }}</td>
      </tr>
      <tr>
        <td>{{ form.state.label_tag }}</td>
        <td>{{ form.state }}</td>
      </tr>
    </table>

    <input type="submit" value="Register!"/>
  </form>

  <script type="text/javascript">
    $('#register-submit').on('submit', function(event) {
      event.preventDefault();
      attempt_register();
    });
  </script>
{% endblock %}
