{#{% load ctflex_forms %}#}

<div class="form-group row {% if field.errors %}has-error has-feedback{% endif %} {{ extra_group_class }}">

  {#  {% if not field.field.widget|is_checkbox %}#}
  {% include 'ctflex/forms/label.snippet.html' %}
  {#  {% else %}#}
  {#    {% include 'ctflex/forms/input.snippet.html' %}#}
  {#  {% endif %}#}

  <div class="field-input-container {{ extra_input_class }}">

    {#    {% if not field.field.widget|is_checkbox %}#}
    {% include 'ctflex/forms/input.snippet.html' %}
    {#    {% else %}#}
    {#      {% include 'ctflex/forms/label.snippet.html' %}#}
    {#    {% endif %}#}

    {% if field.errors %}
      <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    {% endif %}
  </div>


  <div class="clearfix"></div>

  <div class="field-other-container {{ extra_help_class }}">

    {% if field.errors %}
      <ul class="errorlist list-unstyled">
        {% for error in field.errors %}
          <li class="alert alert-danger" role="alert">
            {{ error|escape }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <div class="help-block">{{ field.help_text|safe }}</div>

  </div>

  {{ extra_html|safe }}
</div>