/* Overrides */

#body {
    max-width: none;
}

/* Specifics */

.jumbotron h3 {
    margin-bottom: 0.5em;
}

#date-heading {
    margin-top: 0;
    margin-bottom: 1.5em;
}


#ctf-info img {

    /* Center image */
    display: block;
    margin: auto;
}

#jumbotron-img img {

    padding-left: 1em;
    padding-right: 1em;

    width: 100%;
    max-width: 1000px;
}
