{% extends 'ctflex/base.html' %}
{% load static %}
{% load ctflex %}

{% block title %}
  Scoreboard — {{ block.super }}
{% endblock %}

{% block content %}
  {% block board_message %}
  {% endblock %}
  <div>
    I GUESS WE CAN PUT A GRAPH HERE
  </div>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Team Name</th>
        <th>School</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      {% for i, team in teams %}
        <tr>
          <td>{{ i|add:'1' }}.</td>
          <td>{{ team.name }}</td>
          <td>{{ team.school }}</td>
          <td> {% teamscore %} </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
