{% extends 'ctflex/base/titled.template.html' %}
{% load static %}
{% load ctflex %}

{% block title %}
  Scoreboard — {{ block.super }}
{% endblock %}

{% block header %}
  Scoreboard
{% endblock %}

{% block content %}
  <p>
    {% block board_message %}
    {% endblock %}
  </p>
  <p>
    I GUESS WE CAN PUT A GRAPH HERE
  </p>
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>Team Name</th>
      <th>School</th>
      <th>Score</th>
    </tr>
    </thead>
    <tbody>
    {% for i, score_team in teams %}
      <tr>
        <td>{{ i|add:'1' }}.</td>
        <td>{{ score_team.1.name }}</td>
        <td>{{ score_team.1.affiliation }}</td>
        <td>{{ score_team.0 }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
