{% extends 'ctflex/base/windowed.template.html' %}
{% load static from staticfiles %}
{% load ctflex_ctf %}

{% block title %}
  Scoreboard — {{ block.super }}
{% endblock %}

{% block header %}
  Scoreboard:
  {% block header_window_name %}
    {{ window.verbose_name }}
  {% endblock %}
{% endblock %}

{% block extra_css %}
  {{ content.super }}
  <link href="{% static "ctflex/css/lib/awesome-bootstrap-checkbox.css" %}" rel="stylesheet">
  <link href="{% static "ctflex/css/lib/font-awesome.min.css" %}" rel="stylesheet">
  <link href="{% static "ctflex/css/board.css" %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
  {{ content.super }}
  <script type="text/javascript" src="{% static 'ctflex/js/board.js' %}"></script>
{% endblock %}