{% load ctflex_ctf %}

<div class="panel-group">
  <div class="panel panel-default">

    <table class="table table-hover">
      <thead>
      <tr>
        <th class="text-center">Rank<sup>†</sup></th>
        <th class="text-center">Eligible<sup>‡</sup></th>
        <th>Team Name</th>
        <th>School</th>
        <th class="text-center">Score</th>
      </tr>
      </thead>
      <tbody>
      {% for rank, team, score in board %}
        {% eligible team as is_eligible %}
        <tr class="clickable-row {% if is_eligible %}team-ineligible{% endif %}"
            data-href="{% url 'ctflex:team' team_id=team.id %}">
          <td class="text-center">{{ rank }}.</td>
          <td class="text-center">
            {% if is_eligible %}
              <span class="glyphicon glyphicon-color glyphicon-ok-sign"></span>
            {% else %}
              <span class="glyphicon glyphicon-remove-sign"></span>
            {% endif %}
          </td>
          <td>{{ team.name }}</td>
          <td>{{ team.school|default:"None" }}</td>
          <td class="text-center">{{ score }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>


<p>
  <sup>†</sup> The scoreboard is refreshed every minute or so.
</p>
<p>
  <sup>‡</sup> Teams are eligible (to win prizes) if all of its competitors are middle-schoolers or high-schoolers studying in the United States of America. Ineligible teams will be factored out when awarding
  <a href="{% url 'ctflex:prizes' %}">prizes</a>.
</p>
