<div class="panel-group">
  <div class="panel panel-default">
    {#    <div class="panel-heading">#}
    {#      Eligible Team Rankings#}
    {#    </div>#}

    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Rank</th>
        <th>Team Name</th>
        <th>School</th>
        <th>Score</th>
      </tr>
      </thead>
      <tbody>
      {% for rank, team, score in board %}
        <tr class="clickable-row" data-href="{% url 'ctflex:team' team_id=team.id %}">
          <td>{{ rank }}.</td>
          <td>{{ team.name }}</td>
          <td>{{ team.school|default:"None" }}</td>
          <td>{{ score }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
