{% extends 'ctflex/base/titled.template.html' %}
{% load static %}
{% load ctflex %}

{# TODO(Yatharth): Implement problem collapsing; copy Pico #}

{% block title %}
  Game — {{ block.super }}
{% endblock %}

{% block header %}
  Game
{% endblock %}

{% block extra_css %}
  <link href="{% static "ctflex/css/game.css" %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'ctflex/js/ajax_utils.js' %}"></script>
  <script type="text/javascript" src="{% static 'ctflex/js/game.js' %}"></script>
{% endblock %}


{% block content %}

  {# Pass some context variables to the JavaScript code #}
  <script type="text/javascript">
    (function () {
      window.window_id = "{{ window.id|escapejs}}";
    })();
  </script>

  <div id="window-id" style="display:none"></div>
  <div id="game-messages"></div>

  <div id="problems">
    {% for raw_prob in prob_list %}
      {% format_problem raw_prob team as prob %}
      <div class="problem well well-sm" id="{{ prob.id }}">

        <div class="problem-header">
          <h3>{{ prob.name }} <span class="problem-points">{{ prob.points }}</span></h3>
        </div>

        <div class="problem-description">
          {{ prob.description_html|safe }}
        </div>

        <input type="button" class="btn btn-primary hint-button" value="Toggle Hint"/>
        <div class="hint-content">
          {{ prob.hint_html|safe }}
        </div>

        {% solved raw_prob team as has_solved %}
        {% if has_solved %}
          <p> You have already solved this problem.</p>

        {% else %}
          <form class="problem-form">
            {% csrf_token %}

            <label class="sr-only" for="flag-{{ prob.id }}">Flag: </label>
            <div class="input-group">
              <input id="flag-{{ prob.id }}" type="text" class="form-control" placeholder="Flag" name="flag" required/>
               <span class="input-group-btn">

                 {# Setting onclick changed the behaviour for hitting enter in a text input too #}
                 {# False is returned to prevent non-AJAX form submission #}
                <input class="btn btn-primary" id="submit-{{ prob.id }}" type="submit" value="Check!"
                       onclick="submit_flag('{{ prob.id|escapejs }}'); return false;"/>

              </span>
            </div>

          </form>
        {% endif %}

      </div>
    {% endfor %}
  </div>
{% endblock %}
