{% extends 'ctflex/base.html' %}
{% load static %}
{% load ctflex %}

{% block title %}
  Game — {{ block.super }}
{% endblock %}

{% block css %}
  <link href="{% static "ctflex/css/game.css" %}" rel="stylesheet">
{% endblock %}

{% block js %}
  <script src="{% static 'ctflex/js/game.js' %}"></script>
{% endblock %}

{% block content %}
  <div id="problems">
    {% for raw_prob in prob_list %}
      {% format_problem raw_prob team as prob %}
      <div class="problem" id="{{ prob.id }}">

        <div class="problem-header">
          <h3>{{ prob.name }} <span class="problem-points">{{ prob.points }}</span></h3>
        </div>

        <div class="problem-description">
          {{ prob.description_html|safe }}
        </div>

        <input type="button" class="hint-button" value="Toggle Hint"/>
        <div class="hint-content">
          {{ prob.hint_html|safe }}
        </div>

        {% solved raw_prob team as has_solved %}
        {% if has_solved %}
          <p> You have already solved this problem.</p>
        {% else %}
          <form action="{% url 'ctflex:submit_flag' prob_id=prob.id window_id=window.id %}" method="post">
            <label for="flag-{{ prob.id }}">Flag: </label>
            <input id="flag-{{ prob.id }}" type="text" name="flag"/>

            <input type="submit" value="Submit!"/>

            {% csrf_token %}
          </form>
        {% endif %}

      </div>
    {% endfor %}
  </div>
{% endblock %}
