{% extends 'ctflex/base/headered.template.html' %}
{% load static from staticfiles %}
{% load ctflex %}

{% block title %}
  Learn — {{ block.super }}
{% endblock %}

{% block header %}
  Help Me!
{% endblock %}


{% block content %}
  <h1>Where do I start?</h1>
  <p>
    What kind of difficulty are you having? Click to expand the tab!
  </p>

  <div id="help-accordion" class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading clearfix" data-toggle="collapse"
       data-target="#help-1" data-parent="#help-accordion">

      </div>
      <div id="help-1">
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading clearfix" data-toggle="collapse"
       data-target="#help-2" data-parent="#help-accordion">
      </div>
      <div id="help-2">
      </div>
    </div>
  </div>

{% endblock %}
