{% extends 'ctflex/base/base.template.html' %}
{% load static from staticfiles %}

{% block extra_css %}
  <link href="{% static 'ctflex/css/index.css' %}" rel="stylesheet"/>
{% endblock %}


{# (content_wrapper is used instead of content to be able to use the full page.) #}
{% block content_wrapper %}

  <div class="jumbotron text-center">

    {% include 'ctflex/base/messages.snippet.html' %}

    <div id="jumbotron-padding" class="visible-md visible-lg">&nbsp;</div>

    <div id="jumbotron-img">
      {#      <img src="https://multiculturalgames.wikispaces.com/file/view/shane.jpg/129596425/shane.jpg">#}
      <div class="logo">
        {% include 'ctflex/logo.svg' %}
      </div>
    </div>
    <h3>
      <strong>{% include 'ctflex/text/title.txt' %}</strong> is an online <b>computer security</b> competition for
      <strong>high school students.</strong>
    </h3>

    {% if incubating %}
      <h3>{% include 'ctflex/text/index_subtitle.html' %}</h3>
    {% else %}
      <div id="date-headings" class="row">
        {% for window in windows %}
          <h3>
            <span class="col-sm-6 text-right"><strong>{{ window.verbose_name }}</strong></span>
            <br class="visible-xs-block"/>
            <span
                class="col-sm-6 text-left">{{ window.start|date:'F j' }}&nbsp;—&nbsp;{{ window.end|date:'F j' }}</span>
          </h3>
        {% endfor %}
      </div>
    {% endif %}

    <p class="text-center">
      {% if team %}
        <a class="btn btn-lg btn-primary" href="{% url 'ctflex:game' %}">Go the to Game!</a>
      {% else %}
        <a class="btn btn-lg btn-primary" href="{% url 'ctflex:register' %}">Register Now!</a>
      {% endif %}
    </p>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <h2>
          New to CTFs?
        </h2>
        <p>
          CTFs, short for Capture the Flags, are a type of Computer Security competition where you hack, decrypt, reverse, and do whatever it takes to solve increasingly challenging security puzzles!
        </p>
        <p>
          <a class="btn btn-default collapse-data-btn" data-toggle="collapse" href="#ctf-info">What Next?</a>
        </p>
        <div id="ctf-info" class="collapse">
          <p>
            There will be a list of ‘problems’ for you to solve. On solving a problem, you should end up with a string as an answer called a ‘flag’ (hence the term ‘Capture the Flag’). You can submit this flag using the text box next to the problem description for points and fun!
          </p>
          <p>
            <a href="{% url 'ctflex:register' %}">
              <img src="{% static 'ctflex/img/go_forth.jpg' %}"/>
            </a>
          </p>
          <p class="text-muted">
            <em>Some text adapted from <a href="https://picoctf.com">PicoCTF</a>.</em>
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <h2>
          {% include 'ctflex/text/title.txt' %} is different
        </h2>
        <p>
          Experienced CTFer? Or new to Capture The Flags? Either way, want to solve problems and win prizes
          <em>without</em> spending fourteen consecutive days on a CTF?
        </p>
        <p>
          <a class="btn btn-default collapse-data-btn" data-toggle="collapse" href="#pactf-info">Find out how</a>
        </p>
        <div id="pactf-info" class="collapse">
          <p>
            <strong>Instead of a two-week sprint, {% include 'ctflex/text/title.txt' %} will have three rounds,</strong> each one week long. During each round, you can pick any {% include 'ctflex/text/timer_length.adjective.txt' %} span to grab as many flags as you can! Choose wisely: Once your {% include 'ctflex/text/timer_length.noun.txt' %} run out, you won’t be able to score more points in that round.
          </p>
          <p>
            <strong>Don’t worry about being too slow, though!</strong> Even if your {% include 'ctflex/text/timer_length.adjective.txt' %} timer is over, you can still test your skills against problems in previous rounds.
          </p>
          <p>
            <strong>There are scoreboards</strong>
            for each individual round, and there is an overall all-time scoreboard. Prizes will be given to the top-ranking teams of the individual rounds and the overall CTF, so whether you are a specialist or an all-rounder, there's something for you!
          </p>
          <div class="text-center">
            <a href="{% url 'ctflex:register' %}" class="btn btn-primary">Register Now!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
