{% extends 'ctflex/base/headered.template.html' %}
{% load ctflex_ctf %}

{% block title %}
  Team Profile — {{ block.super }}
{% endblock %}

{% block header %}
  Team: {{ other_team.name }}
{% endblock %}

{% block content %}

  {% if team == other_team %}
    <p>
      <strong>You are viewing your team’s public profile.</strong>
      For information about your personal account (or to add competitors to your team), go to your <a
        href="{% url 'ctflex:account' %}">Account</a> page.
    </p>
  {% endif %}

  {% if other_team.banned and team != other_team %}
    <p>
      This team’s information cannot be displayed.
    </p>
  {% else %}

    {% if other_team.banned %} {# and team == other_team #}
      <p>
        Your team has been banned from appearing on the scoreboard and is ineligible for prizes.
        Please contact <a href="mailto:{{ contact_email }}">{{ contact_email }}</a> if you have questions.
      </p>
    {% endif %}

    <br/>

    <div class="panel-group">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Team Details
        </div>
        <ul class="list-group">
          <li class="list-group-item clearfix">
          <span class="bold">
            Team Name
          </span>
          <span class="pull-right">
            {{ other_team.name }}
          </span>
          </li>
          <li class="list-group-item clearfix">
          <span class="bold">
            School
          </span>
          <span class="pull-right">
            {{ other_team.school|default:"None" }}
          </span>
          </li>
          <li class="list-group-item clearfix">
          <span class="bold">
            Eligibility
          </span>
            for prizes
          <span class="pull-right">
            {% eligible other_team as is_eligible %}
            {% if is_eligible %}
              <span class="glyphicon glyphicon-color glyphicon-ok-sign"></span>
            {% else %}
              <span class="glyphicon glyphicon-color glyphicon-remove-sign"></span>
            {% endif %}
          </span>
          </li>
          <li class="list-group-item clearfix">
          <span class="bold">
            Members
          </span>
          <span class="pull-right">
              {% for competitor in other_team.competitor_set.all %}
                {{ competitor.user.username }}{% include 'ctflex/misc/comma.snippet.html' %}
              {% endfor %}
          </span>
          </li>
        </ul>
      </div>
    </div>

    <div class="panel-group">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Scores<sup>†</sup>
        </div>
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">
            <span class="bold">
              Overall <sup>‡</sup>
            </span>
            <span class="pull-right">
              {{ total_score }}
            </span>
          </li>
          {% for window in windows %}
            <li class="list-group-item">
            <span class="bold">
              {{ window.verbose_name }}
            </span>
              {{ window.start|date:"j F" }} – {{ window.end|date:"j F" }}
            <span class="pull-right">
              {% score team=other_team %}
            </span>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <p>
      <sup>†</sup> Scores on this page are updated even after rounds have officially ended. Prizes will be awarded based on the scores displayed on the relevant scoreboard.
    </p>
    <p>
      <sup>‡</sup> {% include 'ctflex/board/overall_explanation.snippet.html' %}
    </p>

  {% endif %}

{% endblock %}
