{% extends 'ctflex/base.html' %}
{% load ctflex %}

{% block title %}
  Team — {{ block.super }}
{% endblock %}

{% block header %}
  Team
{% endblock %}

{% block content %}
  <p>
    You are {{ user.username }} and part of team {{ object.name }}. You have
    {% score object %} points!
  </p>
  <p>
    The members of your team are:
  </p>
  <ul>
    {% for teammate in object.competitor_set.all %}
      <li>{{ teammate.user.username }}</li>
    {% endfor %}
  </ul>
  <p>
    For new members to join, give them the passphrase <em>{{ team.passphrase }}</em>. You can also <a href="{% url 'ctflex:password_change' %}">change your personal password</a>.
  </p>
{% endblock %}
