<div id="timer">
  <div class="timespan days">
    <span class="value">&nbsp;</span>
    <div class="description">Days</div>
  </div>
  <div class="timespan hours">
    <span class="value">&nbsp;</span>
    <div class="description">Hours</div>
  </div>
  <div class="timespan minutes">
    <span class="value">&nbsp;</span>
    <div class="description">Minutes</div>
  </div>
  <div class="timespan seconds">
    <span class="value">&nbsp;</span>
    <div class="description">Seconds</div>
  </div>
</div>