{% load ctflex_ctf %}

<div id="problems">
  {% for raw_prob in prob_list %}
    {% format_problem raw_prob team as prob %}
    {% solved raw_prob team as has_solved %}

    <div class="problem {% if has_solved %}problem-solved{% endif %} well well-sm" id="{{ prob.id }}">

      <!-- Problem Header -->
      <div class="problem-header">
        <h3 class="container-fluid">
          <span class="pull-left">
            <span class="problem-title">{{ prob.name }}</span>
            <span class="header-link">
              <a href="#{{ prob.id }}">
                <span class="glyphicon glyphicon-link"></span>
                <span class="sr-only">Problem Permalink</span>
              </a>
            </span>
          </span>
          <span class="pull-right clearfix">
            <span class="problem-solved-status">{% if has_solved %}Solved{% else %}Unsolved{% endif %}</span>
            —
            <span class="problem-points">{{ prob.points }}</span>
          </span>
        </h3>
      </div>

      <div id="{{ prob.id }}-body" class="problem-body">

        <!-- Announcements -->
        {# XXX(Cam): Display relevant announcements #}

        <!-- Description -->
        <div class="problem-description">
          {{ prob.description|safe }}
        </div>

        <!-- Hint -->
        <input type="button" class="btn btn-primary hint-button" value="Toggle Hint"/>
        <div class="hint-content">
          {{ prob.hint|safe }}
        </div>

        <!-- Flag Submission -->
        {% if has_solved %}
          <br/>
          <p>Your team has already solved this problem!</p>
        {% else %}
          <form class="problem-form">
            {% csrf_token %}

            <label class="sr-only" for="flag-{{ prob.id }}">Flag: </label>
            <div class="input-group">
              <input id="flag-{{ prob.id }}" type="text" class="form-control" placeholder="Flag" name="flag"
                     required/>
             <span class="input-group-btn">

               {# Setting onclick changes the behaviour for hitting enter in a text input too. #}
               {# False is returned to prevent non-AJAX form submission. #}
              <input class="btn btn-primary" id="submit-{{ prob.id }}" type="submit" value="Check!"
                     onclick="submit_flag('{{ prob.id|escapejs }}'); return false;"/>

            </span>
            </div>

          </form>
        {% endif %}

      </div>

    </div>

  {% endfor %}
  {% if not prob_list %}
    <p>There are no problems in this round.</p>
{% endif %}
</div>
