{% extends 'ctflex/game/game.template.html' %}
{% load static from staticfiles %}

{% block extra_css %}
  {{ block.super }}
  <link href="{% static 'ctflex/css/game/active.css' %}" rel="stylesheet"/>
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script src="{% static 'ctflex/js/countdown.js' %}" async></script>
{% endblock %}


{% block content %}
  <p>
    <strong>Welcome to {{ window.verbose_name }}! This round has not yet started.</strong>
  </p>
  <p>
    It will run from
    <strong>{{ window.start|date:'g:i A e' }} on {{ window.start|date:'F j, Y' }}</strong> to
    <strong>{{ window.end|date:'g:i A e' }} on {{ window.end|date:'F j, Y' }}</strong>, and it will start in:
  </p>

  {% include 'ctflex/game/countdown.snippet.html' %}

  <p>
    When it starts, your team will be able to pick any {% include 'ctflex/text/timer_length.adjective.txt' %} span within the round to solve problems.</p>
  <p>
    Until then, you can:
  </p>
  <ul>
    <li>Look at past rounds’ problems using the dropdown above.</li>
    <li>Find out all of the rounds’ schedules also by using the dropdown above.</li>
    <li><a href="mailto:{{ contact_email }}">Let us know</a> what you think of {% include 'ctflex/text/title.txt' %}!
    </li>
  </ul>
{% endblock %}
