{% extends 'ctflex/base-headerless.html' %}
{% load static from staticfiles %}
{% load ctflex %}

{% block title %}
  Done - {{ block.super }}
{% endblock %}

{% block content %}
  <p>
    {# TODO(Yatharth): Give time of next Window using Window.current #}
    Your timer has ended! However, the window is ongoing, so you cannot see problems until this window ends at {{ window.end }}.
  </p>
  <p>
    You may browse other windows, wait for the next one to start, or look at funny memes.
  </p>
  <p class="text-center">
    <img src="{% static 'ctflex/img/i_must_go.jpg' %}"/>
  </p>
{% endblock %}
