{% extends 'ctflex/base-headerless.html' %}
{% load ctflex %}

{% block title %}
  Inactive - {{ block.super }}
{% endblock %}

{% block content %}
  <p>
    {# TODO(Yatharth): Write JS to take min and show countdown #}
    Welcome to PACTF! The current round is currently active and waiting for you to start your team's timer! Make sure that everyone is ready, then click start!
  </p>

  <p>
    <a class="btn btn-default collapse-data-btn" data-toggle="collapse" href="#show-button">I'm ready</a>
  </p>
  <div id="show-button" class="collapse">
    <h2><strong>Are you sure?</strong></h2>
    <p>
      Once you hit "start", you won't be able to make another try this round!
    </p>
    <form action="{% url 'ctflex:start_timer' window_id=window.id %}" method="post">
      {% csrf_token %}
      <input class="btn btn-primary" type="submit" value="Start!"/>
    </form>
  </div>
  <br/>

  <p>
    <img src="https://s-media-cache-ak0.pinimg.com/236x/e6/87/c5/e687c54549f9d27ee807d2dbaf1fd991.jpg"/>
  </p>
{% endblock %}
