{% comment %}{# Define base template for all CTFlex templates

  Purpose:
  Most pages SHOULD derive from `base/windowed.template.html` instead, which
  limits the width of the body and supports adding headers to the page. Derive
  from this template directly when you need more control. As an example, the
  index page directly derives from this tempate.

  XXX(Yatharth): Mention RFC 2119 in docs
  Style Guidelines (for all template files):

  - Separate semantically different sections of HTML with headers for those
  sections. Use HTML comments for these headers.

  - Use DTL comments for other comments like TODOs, explanatations etc.

  - Name templates as so:

      `<basename>[.snippet][.template].<extension>`

  `<basename>` is a descriptive name like `windowed` or `game`. `extension`
  is the file type, e.g., `txt` or `html`.

  The `.snippet` part is to be included when the template does not stand on
  its own but instead is only to be included in another template (be it via
  an `{ % include % }` tag in a template (spaces added to avoid parsing) or
  in Python code for a template tag).

  The `.template` part is to be included when the template is not intended to
  ever be used directly but only be derived from in some other template. This
  is similar to the notion of Abstract Base Classes in Python.
#}{% endcomment %}

{% load static from staticfiles %}
{% load ctflex %}

<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Meta Info -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <meta name="description"
        content="PACTF: Phillips Academy Capture The Flag, an online computer security competition">
  <meta name="author" content="PACTF">

  <title>
    {% block title %}
      {% include 'ctflex/text/title.txt' %}
    {% endblock %}
  </title>

  <!-- Favicon -->

  {% include 'ctflex/base/favicons.snippet.html' %}

  <!-- CSS -->
  {# TODO(Yatharth): Figure out what resources we actually need #}

  <link rel="stylesheet" href="{% static 'ctflex/bootstrap-3.3.6-dist/css/bootstrap.min.css' %}"/>
  {# https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css  #}
  <link rel="stylesheet" href="{% static 'ctflex/css/lib/jquery-ui.css' %}"/>
  {# https://maxcdn.bootstrapcdn.com/bootswatch/3.3.2/yeti/bootstrap.min.css #}
  <link rel="stylesheet" href="{% static 'ctflex/css/lib/yeti_bootstrap.min.css' %}"/>

  <link href="{% static "ctflex/css/base.css" %}" rel="stylesheet">
  <link href="{% static "ctflex/css/logo.css" %}" rel="stylesheet">

  {% block extra_css %}{% endblock %}

  <!-- JavaScript -->

  {# https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js #}
  <script src="{% static 'ctflex/js/lib/jquery.min.js' %}"></script>
  {# https://code.jquery.com/ui/1.11.3/jquery-ui.min.js #}
  <script src="{% static 'ctflex/js/lib/jquery-ui.min.js' %}"></script>
  {# https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js #}
  <script src="{% static 'ctflex/js/lib/jquery.cookie.min.js' %}"></script>
  <script src="{% static 'ctflex/bootstrap-3.3.6-dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static "ctflex/js/lib/notify.min.js" %}"></script>

  <script type="text/javascript" src="{% static 'ctflex/js/ajax_utils.js' %}"></script>
  {% if team %}
    <script src="{% static "ctflex/js/announcements.js" %}" type="text/javascript"></script>
  {% endif %}

  {% block extra_js %}{% endblock %}

  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
      var u = "https://pactf.piwikpro.com/";
      _paq.push(['setTrackerUrl', u + 'piwik.php']);
      _paq.push(['setSiteId', 1]);
      var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
      g.type = 'text/javascript';
      g.async = true;
      g.defer = true;
      g.src = u + 'piwik.js';
      s.parentNode.insertBefore(g, s);
    })();
  </script>
  <noscript><p><img src="https://pactf.piwikpro.com/piwik.php?idsite=1" style="border:0;" alt=""/></p></noscript>

</head>

<body>

<!-- Navbar -->

{% include 'ctflex/base/navbar.snippet.html' %}

<!-- Content -->

{% block content_wrapper %}
  {% comment %} Hook for content

    Implementation Notes:
    - You SHOULD include the following line somewhere:

    {% include 'ctflex/base/messages.snippet.html' %}

  {% endcomment %}
{% endblock %}


<!-- Footer -->

<footer>
  <div class="container">
    <p class="text-muted">
      {% include 'ctflex/base/footer.snippet.html' %}
    </p>
  </div>
</footer>

<!-- JS Context -->
{% comment %}{#

  Purpose:
    The following snippet allows views to pass context to JavaScript.

  Usage:
    In your view, where you pass the context to your template, set `js_context`
    to some Javascript literal. A JSON-serialized dictionary is recommended.

    In your Javascript, include the following code

      if (document.addEventListener) {
        document.addEventListener('js_context', <your_callback>, false);
      } else {
        document.attachEvent('js_context', <your_callback>);
      }

    Here,the function `<your_callback>` will be called when the `js_context` is
    ready to be used by Javascript code.

    Once it is ready, you can access `js_context` as `window.js_context`.
w
  Implementation Notes:
    - The template must (ultimately) derive from this template.
    - The value of the `js_context` you set in your view will be parsed as a
      Javascript literal. It is your responsibility to make sure the value is
      safe to evaluate.

#}{% endcomment %}
{% if js_context %}
  <script type="text/javascript">
    (function () {
      window.js_context = {{ js_context|safe }};
      document.dispatchEvent(new Event('js_context'));
    })();
  </script>
{% endif %}

</body>

</html>
