{% load static from staticfiles %}
{% load ctflex %}

<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Meta Tags -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <meta name="description" content="PACTF: Phillips Academy Capture The Flag, an online computer security competition">
  <meta name="author" content="PACTF">

  <title>
    {% block title %}
      {% include 'ctflex/text/title.txt' %}
    {% endblock %}
  </title>

  <!-- CSS -->

  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css"
        integrity="sha384-SMQY6km0HNF/4ZQFLn+ksQGfOZcdUItGFzYtcFEtdC5LdIgQ74RSJNYwBRzNsHWK" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.2/yeti/bootstrap.min.css"
        integrity="sha384-fpdlABSRXJUeEO2RMarntvPfwn7UlIhDODwZ6w/1g9YFAIYgVL0jAarUL2f/DfBy" crossorigin="anonymous">


  <link href="{% static "ctflex/css/base.css" %}" rel="stylesheet">

  {% block extra_css %}{% endblock %}

  <!-- JavaScript -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"
          integrity="sha384-fj9YEHKNa/e0CNquG4NcocjoyMATYo1k2Ff5wGB42C/9AwOlJjDoySPtNJalccfI"
          crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"
          integrity="sha384-vIp38BeRN82wlvPB8/vo/5e0J1/gn7WfUf1Qq9bdh79iMPxjry99thNkscQG1b8C"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
          integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
          crossorigin="anonymous"></script>
  <script src="{% static "ctflex/js/notify.min.js" %}"></script>

  {# TODO(Yatharth): This script loads too slowly! Download this locally (and the other ones too) #}
  {#  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"#}
  {#          integrity="sha384-tSi+YsgNwyohDGfW/VhY51IK3RKAPYDcj1sNXJ16oRAyDP++K0NCzSCUW78EMFmf"#}
  {#          crossorigin="anonymous"></script>#}

  {% block extra_js %}{% endblock %}

</head>

<body>

<!-- Navbar -->

{% include 'ctflex/base/navbar.snippet.html' %}

<!-- Header-->

{% block _header_wrapper %}
{% endblock %}

<div id="body">

  {# content is just content_wrapper but with padding and max-width #}
  {% block content_wrapper %}

    <!-- Messages (using Bootstrap Alerts) -->
    {% include 'ctflex/base/messages.snippet.html' %}

    <!-- Content -->
    <div id="content">
      {% block content %}{% endblock %}
    </div>

  {% endblock %}

</div>

<!-- Footer -->

<footer>
  <div class="container">
    <p class="text-muted">
      {% include 'ctflex/base/footer.snippet.html' %}
    </p>
  </div>
</footer>

<!-- JS Context -->
{% if js_context %}
  <script type="text/javascript">
    (function () {
      window.js_context = {{ js_context|safe }};

      document.dispatchEvent(new Event('js_context'));
    })();
  </script>
{% endif %}

</body>

</html>
