{% load ctflex_ctf %}
{% load static from staticfiles %}

<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo logo-inline" href="{% url 'ctflex:index' %}">
        {% include 'ctflex/logo.svg' %}
        <span class="sr-only">PACTF</span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">

      <ul class="nav navbar-nav">

        <li><a href="{% url 'ctflex:game' %}">Game</a></li>
        <li><a href="{% url 'ctflex:scoreboard' %}">Scoreboard</a></li>
        <li>
          <a href="{% url 'ctflex:announcements' %}">
            News
            <span class="badge alert-danger" id="unread-announcements-badge">0</span>
          </a>
        </li>

        {% block navbar_left_more %}
        {% endblock %}

      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">About<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'ctflex:about' %}">The Team</a></li>
            <li><a href="{% url 'ctflex:sponsors' %}">Our Sponsors</a></li>
            <li><a href="{% url 'ctflex:prizes' %}">Prizes</a></li>
            <li><a href="{% url 'ctflex:winners' %}">Winners</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Help<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'ctflex:learn' %}">Learn</a></li>
            <li><a href="{% url 'ctflex:chat' %}">Chat</a></li>
          </ul>
        </li>

        {% if user.is_authenticated %}

          {% if team %}
            <li><p class="navbar-text">Score: <span id="navbar-score">{% score team %}</span></p></li>
          {% else %}
            <p class="navbar-text">
              <em>Not a competitor</em>
            </p>
          {% endif %}

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">Account<span class="caret"></span></a>
            <ul class="dropdown-menu">

              {% if team %}
                <li><a href="{% url 'ctflex:account' %}">Personal Account</a></li>
                <li><a href="{% url 'ctflex:team' team_id=team.id %}">Team Page</a></li>
              {% endif %}

              <li><a href="{% url 'ctflex:logout' %}">Logout</a></li>
            </ul>
          </li>

        {% else %}

          <li><a href="{% url 'ctflex:login' %}">Login</a></li>
          <li><a href="{% url 'ctflex:register' %}">Register</a></li>

        {% endif %}
      </ul>

    </div>
  </div>
</nav>
