/* TODO(Yatharth): Switch to LESS */

/* Body */

body {
    margin: 0;
    padding: 0;

    background-color: lightblue;

    /* Move down content because we have a fixed navbar that is 50px tall */
    padding-top: 45px;
    padding-bottom: 20px;

}

.page-title > .container, #content, #messages {
    /* XXX(Yatharth) http://stackoverflow.com/questions/9730263/setting-max-width-for-body-using-bootstrap */
    max-width: 55em;
    margin: 0 auto;
}

#content {
    margin-top: 1em;
    padding: 0.25em;
}

/* Header */

.page-title {
    background-color: #f5f5f5;
    color: #fff;
    padding: 20px 0;
    overflow: hidden;
    margin-bottom: 1em;
}

.page-title h1 {
    margin: 0;
    padding: 0;
    line-height: 100%;
    display: inline-block;
    color: #000;
}

/* Footer */

body {
    /* Margin bottom by footer height */
    margin-bottom: 45px;
}

html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    text-align: center;

    /* Set the fixed height of the footer here */
    height: 45px;
    background-color: #f5f5f5;
}

footer > .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

footer > .container > p {
    margin-bottom: 0;
}

/* Navbar */

p.navbar-text {
    margin: 0;
    padding: 12px 15px;
}

.navbar-text {
    line-height: 21px;
}

@media (max-width: 767px) {
    p.navbar-text {
        margin: 0;
        padding: 10px 15px;
    }
}

/* Forms */

.errornote {
    color: red;
}

.errorlist {
    margin-top: 0.5em;
    margin-bottom: 0;
}

.form-group > .errorlist > li {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0.25em;
    padding: 0.5em;
    padding-right: 2.25em;
}

.control-label {
    font-weight: bold;
}

/* Messages */

.jumbotron #messages {
    margin-top: -30px;
    padding-top: 0;
}

#messages {
    padding-top: 0.5em;
}

/* Message Accessibility */

.alert-success .alert-type:before {
    content: "Success!"
}

.alert-danger .alert-type:before {
    content: "Error!"
}

.alert-warning .alert-type:before {
    content: "Warning: "
}

.alert-info .alert-type:before {
    content: "Info: "
}
