.clickable-row {
    cursor: pointer;
}

/* Filter */

.team-hidden {
    display: none;
}

/*.team-ineligible {*/
/*background-color: #ccc;*/
/*color: #333;*/
/*}*/

.filter-container label {
    font-size: 13px;
}

.filter-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Make check in checkbox show up */

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after,
.checkbox input[type=checkbox]:checked + label:after {
    font-family: 'Glyphicons Halflings';
    content: "\e013";
}

input[type="checkbox"].styled:checked label:after,
input[type="radio"].styled:checked label:after,
.checkbox label:after {
    padding-left: 3px;
    padding-top: 1px;
    font-size: 9px;
}