.problem-points {
    font-weight: bold;
    float: right;
}

.problem-header {
    background-color: darkblue;
    color: white;
}

.problem {
    margin-bottom: 10px;
}

.hint-content {
    display: none;
}

.hint-button {
    margin-bottom: 10px;
}