.problem-points {
    font-weight: bold;
    float: right;
}

.problem-header {
    background-color: #008cba;
    color: white;

    padding-top: 5px;
    padding-bottom: 5px;

    padding-left: 10px;
    padding-right: 10px;
}

.problem-header h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.problem {
    margin-bottom: 10px;
}

.problem-description {
    margin-top: 1em;
}

.hint-content {
    display: none;
}

.hint-button {
    margin-bottom: 10px;
}