/* Old stuff that somehow still works */

header {
    background-color: #444;
    color: #bbb;
}

header .pull-right {
    float: right;
}

header ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

header li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    /*height: 40px;*/
    border-bottom: 1px solid #888;
}

header a {
    text-decoration: none;
    display: block;
    transition: .3s background-color;
    color: #fff;
}

header a:hover {
    background-color: #005f5f;
}

header a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
    header li {
        width: 120px;
        border-bottom: none;
        /*height: 50px;*/
        /*line-height: 50px;*/
        font-size: 1.4em;
    }

    /* Option 1 - Display Inline */
    header li {
        display: inline-block;
        margin-right: -4px;
    }

    .clearfix:after {
        display: block;
        clear: both;
    }

    /*----- Menu Outline -----*/
    .menu-wrap {
        width: 100%;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
        background: #3e3436;
    }

    .menu {
        width: 1000px;
        margin: 0px auto;
    }

    .menu li {
        margin: 0px;
        list-style: none;
        font-family: 'Oswald', sans-serif;
    }

    .menu a {
        transition: all linear 0.15s;
        color: #919191;
    }

    .menu li:hover > a, .menu .current-item > a {
        text-decoration: none;
        color: #be5b70;
    }

    .menu .arrow {
        font-size: 11px;
        line-height: 0%;
    }

    /*----- Top Level -----*/
    .menu > ul > ul > li {
        float: left;
        display: inline-block;
        position: relative;
        font-size: 19px;
    }

    .menu > ul > ul > li > a {
        padding: 10px 40px;
        display: inline-block;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    }

    .menu > ul > ul > li > span {
        padding: 10px 10px;
        display: inline-block;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
        color: #777;
    }

    .menu > ul > ul > li:hover > a, .menu > ul > ul > .current-item > a {
        background: #2e2728;
    }

    /*----- Bottom Level -----*/
    .menu li:hover .sub-menu {
        z-index: 1;
        opacity: 1;
    }

    .sub-menu {
        width: 100%;
        padding: 5px 0px;
        position: absolute;
        top: 100%;
        left: 0px;
        z-index: -1;
        opacity: 0;
        transition: opacity linear 0.15s;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
        background: #2e2728;
    }

    .sub-menu li {
        display: block;
        font-size: 16px;
    }

    .sub-menu li a {
        padding: 10px 30px;
        display: block;
    }

    .sub-menu li a:hover, .sub-menu .current-item a {
        background: #3e3436;
    }
}
