/* General */

.jumbotron h3 {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.jumbotron {
    padding-top: 1em;
}

#jumbotron-paddding {
    height: 1em;
}

#date-headings {
    margin-top: 0;
    margin-bottom: 1.5em;
}

#date-headings h3 {
    margin: 0;
    margin-bottom: 0.25em;
}

#ctf-info img {
    /* Center image */
    display: block;
    margin: auto;
}

#jumbotron-img {
    width: 100%;
    max-width: 30em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0 auto;
}

/* Overlayed Image (old) *//*

#jumbotron-img {
    position: relative;
    height: 20em;

    width: 100%;
    max-width: 1000px;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0 auto;

}

#jumbotron-img img {
}

#jumbotron-img .logo svg {
    z-index: 10;

    height: 90%;

    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#jumbotron-img img, #jumbotron-img svg {

    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;

    left: 0;
    right: 0;
    margin: 0 auto;
}
*/