/* TODO(Yatharth): Write in LESS and make it compile automatically */

body {
    margin: 0;
    padding: 0;

    background-color: lightblue;
}

#body {
    padding: 10px;
}


/* Messages */

.messages .success {
    background-color: green;
}

.messages .success:before {
    content: "Success!"
}

.messages .error {
    background-color: red;
}

.messages .error:before {
    content: "Error!"
}

.messages .warning {
    background-color: yellow;
}

.messages .warning:before {
    content: "Warning: "
}

.messages .info {
    background-color: blue;
}

.messages .info:before {
    content: "Info: "
}


/* Header */

header {
    background-color: #444;
    color: #bbb;
}

header .pull-right {
    float: right;
}

header ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

header li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

header a {
    text-decoration: none;
    display: block;
    transition: .3s background-color;
    color: #fff;
}

header a:hover {
    background-color: #005f5f;
}

header a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
    header li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }

    /* Option 1 - Display Inline */
    header li {
        display: inline-block;
        margin-right: -4px;
    }
}