/* Body */

body {
    margin: 0;
    padding: 0;

    background-color: lightblue;
}

#body {
    padding: 10px;
    max-width: 50em;
    margin: 0 auto;
}


/* Messages */

.messages .success {
    background-color: green;
}

.messages .success:before {
    content: "Success!"
}

.messages .error {
    background-color: red;
}

.messages .error:before {
    content: "Error!"
}

.messages .warning {
    background-color: yellow;
}

.messages .warning:before {
    content: "Warning: "
}

.messages .info {
    background-color: aqua;
}

.messages .info:before {
    content: "Info: "
}
