"""Local configuration file

Make a copy of this without the `example` in the filename, and set the variables appropriately.
Commented out variables are optional.
"""

from os.path import abspath, dirname, join


BASE_DIR = dirname(dirname(abspath(__file__)))

# Postgres is recommended
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': join(BASE_DIR, 'db.sqlite3'),
    }
}

# Set this if you will not be using the Django server and will run `manage.py collectstatic`
# STATIC_ROOT = ''

# Security settings
SECRET_KEY = ''
DEBUG = True
