{% extends 'ctflex/base/headered.template.html' %}
{% load static from staticfiles %}

{% block title %}
  Team - {{ block.super }}
{% endblock %}

{% block header %}
  The {% include 'ctflex/text/title.txt' %} Team
{% endblock %}

{% block extra_css %}
  {{ block.super }}
  <link href="{% static "ctflex/css/about.css" %}" rel="stylesheet">
{% endblock %}


{% block content %}

  <h3 class="text-center">
    PACTF is run by
    <a target="_blank" href="https://patechmasters.com">Techmasters</a>,
    an independent student organization at
    <a target="_blank" href="https://www.andover.edu">Phillips Academy, Andover</a>.
  </h3>


  <h2>Project Team</h2>

  <div class="about-section about row text-center">

    <div class="person col-xs-6">
      <div class="person-img">
        <a class="link-undercover" href="mailto:yagarwal@andover.edu" target="_blank">
          <img src="{% static 'pactf_web/img/about/yagarwal.jpg' %}">
        </a>
      </div>
      <div class="person-name">
        <a class="link-undercover" href="mailto:yagarwal@andover.edu" target="_blank">
          Yatharth Agarwal ‘17
        </a>
      </div>
      <div class="person-pos">
        Project Mentor
      </div>
    </div>

    <div class="person col-xs-6">
      <div class="person-img">
        <a href="https://tonytan.io/about/" target="_blank">
          <img src="{% static 'pactf_web/img/about/ztan.jpg' %}">
        </a>
      </div>
      <div class="person-name">
        <a class="link-undercover" href="https://tonytan.io/about/" target="_blank">
          Tony Zhaocheng Tan ‘17
        </a>
      </div>
      <div class="person-pos">
        Project Mentor
      </div>
    </div>

    <div class="person col-xs-6">
      <div class="person-img">
        <a href="https://rmrm.io/" target="_blank">
          <img src="{% static 'pactf_web/img/about/mmccain.jpg' %}">
        </a>
      </div>
      <div class="person-name">
        Miles McCain ‘19
      </div>
      <div class="person-pos">
        Project Lead
      </div>
    </div>

    <div class="person col-xs-6">
      <div class="person-img">
        <img src="{% static 'pactf_web/img/about/areich.jpg' %}">
      </div>
      <div class="person-name">
        Alex Reichenbach ‘18
      </div>
      <div class="person-pos">
        Project Lead
      </div>
    </div>

    <div class="person col-xs-6">
      <div class="person-img">
        <img src="{% static 'pactf_web/img/about/dmeyer.jpg' %}">
      </div>
      <div class="person-name">
        Darcy Meyer ‘19
      </div>
      <div class="person-pos">
        Problem Writer
      </div>
    </div>

    <div class="person col-xs-6">
      <div class="person-img">
        <img src="{% static 'pactf_web/img/about/plamkin.jpg' %}">
      </div>
      <div class="person-name">
        Philip Lamkin ‘17
      </div>
      <div class="person-pos">
        Problem Writer
      </div>
    </div>

{#    <div class="person col-xs-6">#}
{#      <div class="person-img">#}
{#        <img src="{% static 'pactf_web/img/about/placeholder.jpg' %}">#}
{#      </div>#}
{#      <div class="person-name">#}
{#        Jeffrey Shen ‘19#}
{#      </div>#}
{#      <div class="person-pos">#}
{#        Team Member#}
{#      </div>#}
{#    </div>#}
{##}
{#    <div class="person col-xs-6">#}
{#      <div class="person-img">#}
{#        <img src="{% static 'pactf_web/img/about/placeholder.jpg' %}">#}
{#      </div>#}
{#      <div class="person-name">#}
{#        Varun Roy ‘19#}
{#      </div>#}
{#      <div class="person-pos">#}
{#        Team Member#}
{#      </div>#}
{#    </div>#}

  </div>

  <h4 class="text-center"><em>More team member pictures coming soon…</em></h4>

  <br>

  <h2>Faculty Mentors</h2>

  <div class="about-secion row text-center">

    <div class="person col-xs-6">
      <div class="person-img">
        <a href="http://skylit.com/maria.html" target="_blank">
          <img src="{% static 'pactf_web/img/about/mlitvin.jpg' %}">
        </a>
      </div>
      <div class="person-name">
        Ms. Maria Litvin
      </div>
      <div class="person-pos">
        Project Mentor
      </div>
      <div class="person-desc">
        Maria Litvin is the advisor for Phillips Academy's Computer Science Club and a variety of CS-related projects, including PACTF, ACSL, Technovation Challenge, and NACLO. In addition to teaching mathematics and computer science at Phillips Academy, Ms. Litvin teaches coding to elementary school students at the local Boys & Girls Club and conducts Code.org workshops for elementary school teachers. Ms. Litvin is the co-author (with Gary Litvin) of several best-selling computer science textbooks and AP prep books.
      </div>
    </div>

    <div class="person col-xs-6">
      <div class="person-img">
        <a href="http://jadrian.org/" target="_blank">
          <img src="{% static 'pactf_web/img/about/jmiles.jpg' %}">
        </a>
      </div>
      <div class="person-name">
        Dr. Jadrian Miles
      </div>
      <div class="person-pos">
        Technical Mentor
      </div>
      <div class="person-desc">
        Dr. Jadrian Miles is passionate about his students’ brilliant creativity; about math, algorithms, numerical optimization, and empathy and intention in software design; and about the transformative democratic power of equitable education in computation.
      </div>
    </div>
  </div>

{% endblock %}
