{% extends 'ctflex/base/headered.template.html' %}
{% load static from staticfiles %}

{% block title %}
  Team - {{ block.super }}
{% endblock %}

{% block header %}
  The {% include 'ctflex/text/title.txt' %} Team
{% endblock %}

{% block extra_css %}
  {{ block.super }}
  <link href="{% static "ctflex/css/about.css" %}" rel="stylesheet">
{% endblock %}


{% block content %}

  <p class="text-center">
    PACTF is run by the independent student-run organization
    <a href="https://patechmasters.com"
       target="_blank">Techmasters</a>
    at <a href="https://www.andover.edu"
          target="_blank">Phillips Academy, Andover</a>.
  </p>


  <h2>Faculty Mentors</h2>

  <div class="about-secion row text-center">

    <div class="person col-xs-6">
      <div class="person-img">
        <a href="https://skylit.com/maria.html" target="_blank">
          <img src="{% static 'pactf_web/img/about/mlitvin.jpg' %}">
        </a>
      </div>
      <div class="person-name">
        <a href="https://skylit.com/maria.html" target="_blank">Ms. Maria Litvin</a>
      </div>
      <div class="person-pos">
        Project Mentor
      </div>
      <div class="person-desc">
        Maria Litvin is the advisor for Phillips Academy's Computer Science Club and a variety of CS-related projects, including PACTF, ACSL, Technovation Challenge, and NACLO. In addition to teaching mathematics and computer science at Phillips Academy, Ms. Litvin teaches coding to elementary school students at the local Boys & Girls Club and conducts Code.org workshops for elementary school teachers. Ms. Litvin is the co-author (with Gary Litvin) of several best-selling computer science textbooks and AP prep books.
      </div>
    </div>

    <div class="person col-xs-6">
      <div class="person-img">
        <a href="http://jadrian.org/" target="_blank">
          <img src="{% static 'pactf_web/img/about/jmiles.jpg' %}">
        </a>
      </div>
      <div class="person-name">
        <a href="http://jadrian.org/" target="_blank">Dr. Jadrian Miles</a>
      </div>
      <div class="person-pos">
        Technical Mentor
      </div>
      <div class="person-desc">
        Dr. Jadrian Miles is passionate about his students’ brilliant creativity; about math, algorithms, numerical optimization, and empathy and intention in software design; and about the the transformative democratic power of equitable education in computation.
      </div>
    </div>
  </div>

  <h2>Project Team</h2>

  <div class="about-secion row text-center">

    <div class="person col-xs-6 col-md-4">
      <div class="person-img">
        <img src="{% static 'pactf_web/img/about/yagarwal3.cropped.jpg' %}">
      </div>
      <div class="person-name">
        Yatharth Agarwal
      </div>
      <div class="person-pos">
        Class of 2017
      </div>
    </div>

    <div class="person col-xs-6 col-md-4">
      <div class="person-img">
        <img src="{% static 'pactf_web/img/about/ztan.jpg' %}">
      </div>
      <div class="person-name">
        Tony Zhaocheng Tan
      </div>
      <div class="person-pos">
        Class of 2017
      </div>
    </div>


    <div class="person col-xs-6 col-md-4">
      <div class="person-img">
        <img src="{% static 'pactf_web/img/about/cwong.jpg' %}">
      </div>
      <div class="person-name">
        Cameron Wong
      </div>
      <div class="person-pos">
        Class of 2016
      </div>
    </div>

    <div class="person col-xs-6 col-md-4 col-md-push-2">
      <div class="person-img">
        <img src="{% static 'pactf_web/img/about/sorgul.jpg' %}">
      </div>
      <div class="person-name">
        Sarp Orgul
      </div>
      <div class="person-pos">
        Class of 2016
      </div>
    </div>

    <div class="person col-xs-pull-3 col-xs-6 col-xs-push-0 col-md-4 col-md-push-2">
      <div class="person-img">
        <img src="{% static 'pactf_web/img/about/areich.jpg' %}">
      </div>
      <div class="person-name">
        Alex Reichenbach
      </div>
      <div class="person-pos">
        Class of 2018
      </div>
    </div>

  </div>

{% endblock %}