{% extends 'ctflex/base/base.template.html' %}
{% load static from staticfiles %}

{% block extra_css %}
  <link href="{% static 'ctflex/css/index.css' %}" rel="stylesheet"/>
{% endblock %}


{# (content_wrapper is used instead of content to be able to use the full page.) #}
{% block content_wrapper %}

  <div id="jumbotron-background">
    <div class="jumbotron text-center gradient">

      {% include 'ctflex/base/messages.snippet.html' %}

      <div id="jumbotron-padding" class="visible-md visible-lg">&nbsp;</div>

      <div id="jumbotron-img">
        <div class="logo logo-inverted">
          {% include 'ctflex/logo.svg' %}
        </div>
      </div>
      <h3>
        <strong>{% include 'ctflex/text/title.txt' %}</strong> is
        an online <strong>computer security</strong> competition
        for <strong>middle</strong> and <strong>high school students.</strong>
      </h3>

      {% if incubating %}
        <h3>{% include 'ctflex/text/index_subtitle.html' %}</h3>
      {% else %}
        <div id="window-container" class="row">
          {% for window in windows %}
            <h3>
              <span class="window-name col-md-6"><strong>
                Round {{ window.number }}
              </strong></span>
              <br class="visible-sm-block visible-xs-block"/>
              <span
                  class="window-date col-md-6">{{ window.start|date:'F j' }}&nbsp;—&nbsp;{{ window.end|date:'F j' }}</span>
            </h3>
            <br>
          {% endfor %}
        </div>
      {% endif %}

      <p class="text-center">
        {% if windows.last.ended %}
          {# <a class="btn btn-lg btn-primary" href="{% url 'ctflex:announcements' %}">Get the Latest News!</a>#}
          <a class="btn btn-lg btn-primary" href="{% url 'ctflex:winners' %}">Check out the Winning Teams!</a>
        {% else %}
          {% if team %}
            <a class="btn btn-lg btn-primary" href="{% url 'ctflex:game' %}">Go to the Game!</a>
          {% else %}
            <a class="btn btn-lg btn-primary" href="{% url 'ctflex:register' %}">Register Now!</a>
          {% endif %}
        {% endif %}
      </p>

    </div>
  </div>

  <div id="info-container" class="container">
    <div class="row">

      <div class="col-md-4">
        <h2>
          New to CTFs?
        </h2>
        <p>
          CTFs, short for Capture the Flags, are a type of Computer Security competition where you hack, decrypt, reverse, and do whatever it takes to solve increasingly challenging security puzzles!
        </p>
        <p>
          <a class="btn btn-default collapse-data-btn" data-toggle="collapse" href="#ctf-info">What Next?</a>
        </p>
        <div id="ctf-info" class="collapse">
          <p>
            <strong>Sign up in a team of 1–5 competitors.</strong> There will then be a list of ‘problems’ for you to solve.
          </p>
          <p>
            <strong>On solving a problem, you should end up with a string as an answer called a ‘flag’</strong> (hence the term ‘Capture the Flag’). You can submit this flag using the text box next to the problem description for points and fun!
          </p>
          <p>
            <strong>Arise, go forth, and conquer!</strong>
          </p>
          <p class="text-muted">
            <em>Some text adapted from <a href="https://picoctf.com" target="_blank">PicoCTF</a>.</em>
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <h2>
          {% include 'ctflex/text/title.txt' %} is different
        </h2>
        <p>
          Experienced CTFer? Or new to Capture The Flags? Either way, want to solve problems and win prizes
          <em>without</em> spending fourteen consecutive days on a CTF?
        </p>
        <p>
          <a class="btn btn-default collapse-data-btn" data-toggle="collapse" href="#pactf-info">Find out how</a>
        </p>
        <div id="pactf-info" class="collapse">
          <p>
            <strong>Instead of a two-week sprint, {% include 'ctflex/text/title.txt' %} will have {{ windows|length }} rounds,</strong> each one week long. During each round, you can pick any {% include 'ctflex/text/timer_length.adjective.txt' %} span to grab as many flags as you can! Choose wisely: Once your {% include 'ctflex/text/timer_length.noun.txt' %} run out, you won’t be able to score more points in that round.
          </p>
          <p>
            <strong>Don’t worry about being too slow, though!</strong> Even if your {% include 'ctflex/text/timer_length.adjective.txt' %} timer is over, you can still test your skills against problems in previous rounds.
          </p>
          <p>
            <strong>There are scoreboards</strong>
            for each individual round, and there is an overall all-time scoreboard.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <h2>
          Are there prizes?
        </h2>
        <p>
          Over $3000 in prizes were awarded to the top-ranking teams of each round as well as of the overall contest last year. Whether you are a specialist or an all-rounder, there’s something for you!
        </p>
        <p>
          <a class="btn btn-default collapse-data-btn" data-toggle="collapse" href="#prizes-info">Tell me more</a>
        </p>
        <div id="prizes-info" class="collapse">
          <p>
            Check out our
            <a href="{% url 'ctflex:prizes' %}" target="_blank">prizes page</a>
            for details, and learn about
            <a href="{% url 'ctflex:sponsors' %}"
               target="_blank">the sponsors</a> who helped make {% include 'ctflex/text/title.txt' %} possible!
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
