{% extends 'ctflex/base/headered.template.html' %}

{% block title %}
  Prizes - {{ block.super }}
{% endblock %}

{% block header %}
  Prizes
{% endblock %}


{% block content %}

  <p><strong>Over $2000 worth of prizes</strong> will be awarded in PACTF 2017. More information coming soon.</p>
  
  <p>Meanwhile, you can check out <a href="https://2016.pactf.com/prizes">the prizes</a> for PACTF 2016!</p>

{#  <div class="panel-group">#}
{#    <div class="panel panel-default">#}
{#      <div class="panel-heading">#}
{#        Overall Contest Prizes#}
{#      </div>#}
{#      <div class="panel-body">#}
{#        For overall performance in all three rounds, the contest’s top eligible<sup>†</sup> teams will be awarded prizes worth:#}
{#      </div>#}
{#      <div class="list-group">#}
{##}
{#        <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            1st#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            $750#}
{#          </span>#}
{#        </div>#}
{##}
{#        <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            2nd#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            $500#}
{#          </span>#}
{#        </div>#}
{##}
{#        <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            3rd–5th#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            $100#}
{#          </span>#}
{#        </div>#}
{##}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{##}
{#  <div class="panel-group">#}
{#    <div class="panel panel-default">#}
{#      <div class="panel-heading">#}
{#        Per-Round Prizes#}
{#      </div>#}
{#      <div class="panel-body">#}
{#        For each of the three rounds, the round’s top eligible<sup>†</sup> teams will be awarded prizes worth:<sup>‡</sup>#}
{#      </div>#}
{#      <div class="list-group">#}
{##}
{#        <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            1st#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            $200#}
{#          </span>#}
{#        </div>#}
{##}
{#        <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            2nd#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            $150#}
{#          </span>#}
{#        </div>#}
{##}
{#        <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            3rd–5th#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            $50#}
{#          </span>#}
{#        </div>#}
{##}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{##}
{#  <p>#}
{#    <sup>†</sup> Teams are eligible (to win prizes) if all of its competitors are middle-schoolers or high-schoolers studying in the United States of America. Ineligible teams will be factored out when awarding prizes.#}
{#  </p>#}
{#  <p>#}
{#    <sup>‡</sup> The distribution for Wicked Web has changed. Please check the#}
{#    <a href="{% url 'ctflex:announcements' %}">News</a> for details.#}
{#  </p>#}
{#  <p class="text-muted">#}
{#    <em>#}
{#      PACTF reserves all rights to make any final decisions on matters related to contest operation and awarding of prizes, as well as all rights to add, alter or remove parts or all of contest regulations and prizes at any time.#}
{#    </em>#}
{#  </p>#}

{% endblock %}
