{% extends 'ctflex/base/headered.template.html' %}

{% block title %}
  Prizes - {{ block.super }}
{% endblock %}

{% block header %}
  Prizes
{% endblock %}


{% block content %}

  <h3>PACTF 2017 is proud to offer <strong>over $15,000</strong> worth of prizes.</h3>
  <br><br>

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        Overall Contest Prizes
      </div>
      <div class="panel-body">
        For overall performance in both rounds, the contest’s top eligible<sup>†</sup> teams will be awarded:
      </div>
      <div class="list-group">
        <div class="list-group-item clearfix">
          <span class="bold">
            1st
          </span>
          <span class="pull-right">
            $500 in DigitalOcean Credit (per team member)
          </span><br>
          <span class="pull-right">
            ProtonMail Lifetime Account (worth $1500)
          </span><br>
          <span class="pull-right">
            <i>In addition to $100 in AWS credits</i>
          </span>
        </div>

        <div class="list-group-item clearfix">
          <span class="bold">
            2nd
          </span>
          <span class="pull-right">
            $250 in DigitalOcean Credit (per team member)
          </span><br>
          <span class="pull-right">
            <i>In addition to $100 in AWS credits</i>
          </span>
        </div>

        <div class="list-group-item clearfix">
          <span class="bold">
            3rd
          </span>
          <span class="pull-right">
            $125 in DigitalOcean Credit (per team member)
          </span><br>
          <span class="pull-right">
            <i>In addition to $100 in AWS credits</i>
          </span>
        </div>

        <div class="list-group-item clearfix">
          <span class="bold">
            Top 150 teams
          </span>
          <span class="pull-right">
            $100 in Amazon AWS credit
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        Per-Round Prizes
      </div>
      <div class="panel-body">
        For each of the two rounds, the round’s top eligible<sup>†</sup> teams will be awarded:
      </div>
      <div class="list-group">
        <div class="list-group-item clearfix">
          <span class="bold">
            1st-5th
          </span>
          <span class="pull-right">
            1 year of ProtonMail Plus (worth $50)
          </span>
        </div>
      </div>
    </div>
  </div>

  <p>
    <sup>†</sup> Teams are eligible (to win prizes) if all of its competitors are middle-schoolers or high-schoolers studying in the United States of America. Ineligible teams will be factored out when awarding prizes.
  </p>
  <p class="text-muted">
    <em>
      PACTF reserves all rights to make any final decisions on matters related to contest operation and awarding of prizes, as well as all rights to add, alter or remove parts or all of contest regulations and prizes at any time.
    </em>
  </p>

{% endblock %}
