{% extends 'ctflex/base/headered.template.html' %}
{% load pactf_web %}
{% load humanize %}

{% block title %}
  Winners - {{ block.super }}
{% endblock %}

{% block header %}
  Winning Teams
{% endblock %}


{% block content %}

  <div class="text-center">

    <h2>Congratulations to all of our winning teams!</h2>
    <h3>
      PACTF 2017 proudly awarded <strong>over $20,000</strong> worth of <a
        href="{% url 'ctflex:prizes' %}">prizes</a>.<br/>
      Check out the <a href="{% url 'ctflex:sponsors' %}">sponsors</a> that made PACTF possible.
    </h3>

  </div>

  <h2 class="text-center"><strong>Top Winners</strong></h2>

  <div class="row">

    <div class="panel-group col-sm-6 col-sm-push-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          Overall Contest
        </div>
        <div class="list-group">

          {% for team_id in winners_overall|slice:top_overall_count %}
            <div class="list-group-item clearfix">
              <span class="bold">
                {{ forloop.counter|ordinal }}
              </span>
              <span class="pull-right">
                <a href="{% url 'ctflex:team' team_id=team_id %}">{% team_name team_id %}</a>
              </span>
            </div>
          {% endfor %}

        </div>
      </div>
    </div>

    <div class="clearfix hidden-sm-up"></div>

    {% for window_name, winners in winners_window %}
      <div class="panel-group col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Round {{ forloop.counter }}: {{ window_name }}
          </div>
          <div class="list-group">

            {% for team_id in winners|slice:top_window_count %}
              <div class="list-group-item clearfix">
                <span class="bold">
                  {{ forloop.counter|ordinal }}
                </span>
                <span class="pull-right">
                  <a href="{% url 'ctflex:team' team_id=team_id %}">{% team_name team_id %}</a>
                </span>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <h2 class="text-center"><strong>All Winners</strong></h2>

  <div class="row">

    <div class="panel-group col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Overall Contest
        </div>
        <div class="list-group">

          {% for team_id in winners_overall %}
            <div class="list-group-item clearfix">
              <span class="bold">
                {{ forloop.counter|ordinal }}
              </span>
              <span class="pull-right">
                <a href="{% url 'ctflex:team' team_id=team_id %}">{% team_name team_id %}</a>
              </span>
            </div>
          {% endfor %}

        </div>
      </div>
    </div>

    {% for window_name, winners in winners_window %}
      <div class="panel-group col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            Round {{ forloop.counter }}: {{ window_name }}
          </div>
          <div class="list-group">

            {% for team_id in winners %}
              <div class="list-group-item clearfix">
                <span class="bold">
                  {{ forloop.counter|ordinal }}
                </span>
                <span class="pull-right">
                  <a href="{% url 'ctflex:team' team_id=team_id %}">{% team_name team_id %}</a>
                </span>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>
    {% endfor %}

  </div>

{% endblock %}