{% extends 'ctflex/base/headered.template.html' %}

{% block title %}
  Winners - {{ block.super }}
{% endblock %}

{% block header %}
  Winning Teams
{% endblock %}


{% block content %}

  <p>Information about winners coming soon after the end of the competition…</p>

{#  <p class="text-center">#}
{#    Congratulations to all of our winning teams!#}
{#  </p>#}
{##}
{#  <br>#}
{##}
{#  <div class="panel-group">#}
{#    <div class="panel panel-default">#}
{#      <div class="panel-heading">#}
{#        Overall Contest#}
{#      </div>#}
{#      <div class="list-group">#}
{##}
{#        <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            1st#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            <a href="{% url 'ctflex:team' team_id=30 %}">wat</a>#}
{#          </span>#}
{#        </div>#}
{##}
{#        <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            2nd#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            <a href="{% url 'ctflex:team' team_id=611 %}">Thee Arxenix Potato</a>#}
{#          </span>#}
{#        </div>#}
{##}
{#        <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            3rd#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            <a href="{% url 'ctflex:team' team_id=62 %}">CatsInBags</a>#}
{#          </span>#}
{#        </div>#}
{##}
{#        <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            4th#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            <a href="{% url 'ctflex:team' team_id=108 %}">Forest Park Bruins</a>#}
{#          </span>#}
{#        </div>#}
{##}
{#        <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            5th#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            <a href="{% url 'ctflex:team' team_id=179 %}">TJ CSL</a>#}
{#          </span>#}
{#        </div>#}
{##}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{##}
{#  <div class="row">#}
{##}
{#    <div class="panel-group col-sm-4">#}
{#      <div class="panel panel-default">#}
{#        <div class="panel-heading">#}
{#          Confounding Crypto#}
{#        </div>#}
{#        <div class="list-group">#}
{##}
{#          <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            1st#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            <a href="{% url 'ctflex:team' team_id=108 %}">Forest Park Bruins</a>#}
{#          </span>#}
{#          </div>#}
{##}
{#          <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            2nd#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            <a href="{% url 'ctflex:team' team_id=611 %}">Thee Arxenix Potato</a>#}
{#          </span>#}
{#          </div>#}
{##}
{#          <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            3rd#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            <a href="{% url 'ctflex:team' team_id=179 %}">TJ CSL</a>#}
{#          </span>#}
{#          </div>#}
{##}
{#          <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            4th#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            <a href="{% url 'ctflex:team' team_id=720 %}">Red Muffin</a>#}
{#          </span>#}
{#          </div>#}
{##}
{#          <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            5th#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            <a href="{% url 'ctflex:team' team_id=30 %}">wat</a>#}
{#          </span>#}
{#          </div>#}
{##}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{##}
{#    <div class="panel-group col-sm-4">#}
{#      <div class="panel panel-default">#}
{#        <div class="panel-heading">#}
{#          Bamboozling Binaries#}
{#        </div>#}
{#        <div class="list-group">#}
{##}
{#          <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            1st#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            <a href="{% url 'ctflex:team' team_id=25 %}">r00ts</a>#}
{#          </span>#}
{#          </div>#}
{##}
{#          <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            2nd#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            <a href="{% url 'ctflex:team' team_id=62 %}">CatsInBags</a>#}
{#          </span>#}
{#          </div>#}
{##}
{#          <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            3rd#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            <a href="{% url 'ctflex:team' team_id=455 %}">Darkside</a>#}
{#          </span>#}
{#          </div>#}
{##}
{#          <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            4th#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            <a href="{% url 'ctflex:team' team_id=611 %}">Thee Arxenix Potato</a>#}
{#          </span>#}
{#          </div>#}
{##}
{#          <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            5th#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            <a href="{% url 'ctflex:team' team_id=30 %}">wat</a>#}
{#          </span>#}
{#          </div>#}
{##}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{##}
{#    <div class="panel-group col-sm-4">#}
{#      <div class="panel panel-default">#}
{#        <div class="panel-heading">#}
{#          Wicked Web#}
{#        </div>#}
{#        <div class="list-group">#}
{##}
{#          <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            1st#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            <a href="{% url 'ctflex:team' team_id=30 %}">wat</a>#}
{#          </span>#}
{#          </div>#}
{##}
{#          <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            2nd#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            <a href="{% url 'ctflex:team' team_id=62 %}">CatsInBags</a>#}
{#          </span>#}
{#          </div>#}
{##}
{#          <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            3rd#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            <a href="{% url 'ctflex:team' team_id=1059 %}">nicce</a>#}
{#          </span>#}
{#          </div>#}
{##}
{#          <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            4th#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            <a href="{% url 'ctflex:team' team_id=778 %}">CS@illini Class of 2020</a>#}
{#          </span>#}
{#          </div>#}
{##}
{#          <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            5th#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            <a href="{% url 'ctflex:team' team_id=220 %}">sudo rm -rf</a>#}
{#          </span>#}
{#          </div>#}
{##}
{#          <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            6th#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            <a href="{% url 'ctflex:team' team_id=979 %}">FACE</a>#}
{#          </span>#}
{#          </div>#}
{##}
{#          <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            7th#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            <a href="{% url 'ctflex:team' team_id=7 %}">n0de</a>#}
{#          </span>#}
{#          </div>#}
{##}
{#          <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            8th#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            <a href="{% url 'ctflex:team' team_id=611 %}">Three Arxenix Potato</a>#}
{#          </span>#}
{#          </div>#}
{##}
{#          <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            9th#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            <a href="{% url 'ctflex:team' team_id=93 %}">byteMe</a>#}
{#          </span>#}
{#          </div>#}
{##}
{#          <div class="list-group-item clearfix">#}
{#          <span class="bold">#}
{#            10th#}
{#          </span>#}
{#          <span class="pull-right">#}
{#            <a href="{% url 'ctflex:team' team_id=812 %}">Mom's Spaghetti</a>#}
{#          </span>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{##}
{#  </div>#}

{% endblock %}