/* TODO(Yatharth): Write in LESS and make it compile automatically */

body {
    margin: 0;
    padding: 0;

    background-color: lightblue;
}

#body {
    padding: 10px;
}

/* Messages */

.messages .success {
    background-color: green;
}

.messages .success:before {
    content: "Success!"
}

.messages .error {
    background-color: red;
}

.messages .error:before {
    content: "Error!"
}
